html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.container {
  width: 75%;
  min-height: 1rem;
  margin: 2rem auto;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: 7rem;
  font-size: 1.4rem;
  padding: 0;
}

.dropdown-grid {
  display: flex;
  flex-grow: 1;
  padding: 0 5rem;
}

.dropdown a {
  margin: 0;
  height: 25px;
  color: #000 !important;
  text-decoration: none;
}

a {
  font-size: 1.25rem;
}

a.title {
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}

.title-menu {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.35rem;
  color: gray;
  cursor: pointer;
}

.image-container {
  max-width: 75%;
  margin-left: auto;
  padding-top: 2rem;
}

img {
  width: 85%;
  height: 50%;
}

.image-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 1rem;
}

p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}